@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

html,
* {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: #efefef;
	font-family: 'Lato', 'Calibri', Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.App {
	font-family: sans-serif;
	text-align: center;
	padding-top: 24px;
}

a {
	color: #028f70;
}

a:hover {
	filter: brightness(110%);
}

:root {
	--itf-font: 'Lato', 'Calibri', Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--white: #fff;
	--black: #000;
	--itf-grey: #54565a;
	--itf-silver: #b1b1b1;
	--itf-green: #008f70;
	--itf-yellow: #ffdd00;
	--itf-clay: #de532a;
	--itf-green-lightest: #e6f4f1;
	--itf-green-lighter: #99d2c6;
	--itf-green-light: #4db19b;
	--itf-green-dark: #008165;
	--itf-green-darker: #005643;
	--itf-green-darkest: #002b22;
	--itf-yellow-lightest: #fffce6;
	--itf-yellow-lighter: #fff199;
	--itf-yellow-light: #ffe74d;
	--itf-yellow-dark: #e6c700;
	--itf-yellow-darker: #998500;
	--itf-yellow-darkest: #4d4200;
	--itf-clay-lightest: #fceeea;
	--itf-clay-lighter: #f2baaa;
	--itf-clay-light: #e8876a;
	--itf-clay-dark: #c84b26;
	--itf-clay-darker: #853219;
	--itf-clay-darkest: #43190d;
	--itf-grey-lightest: #eeeeef;
	--itf-grey-lighter: #bbbbbd;
	--itf-grey-light: #979797;
	--itf-grey-dark: #4c4d51;
	--itf-grey-darker: #323436;
	--itf-grey-darkest: #191a1b;
	--itf-silver-lightest: #f7f7f7;
	--itf-silver-lighter: #e0e0e0;
	--itf-silver-light: #c8c8c8;
	--itf-silver-dark: #9f9f9f;
	--itf-silver-darker: #6a6a6a;
	--itf-silver-darkest: #353535;
	--white-tint: rgba(255, 255, 255, 0.16);
	--black-tint: rgba(0, 0, 0, 0.16);
	--itf-green-tint: rgba(0, 143, 112, 0.16);
	--itf-yellow-tint: rgba(255, 221, 3, 0.16);
	--itf-clay-tint: rgba(222, 83, 42, 0.16);
	--itf-grey-tint: rgba(83, 85, 90, 0.16);
	--itf-silver-tint: rgba(175, 177, 177, 0.16);
}
