@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html,
* {
	box-sizing: border-box;
}

body {
	background-color: #efefef;
	font-family: "Open Sans", sans-serif;
}

.App {
	font-family: sans-serif;
	text-align: center;
	padding-top: 24px;
}

a {
	color: #028f70;
}

a:hover {
	filter: brightness(110%);
}
